.card-container {
  width: 300px;
  height: 400px;
  overflow: hidden;
  /* box-shadow: 0px 0px 15px -5px; */
  /* transition: 0.5s;
  animation: ease-in; */
  background-color: rgb(255, 255, 255);
  /* Background rengini beyaz olarak ayarladık */
  border-radius: 15px; /* Kenar yuvarlatma (border radius) değerini 15px olarak ayarladık */
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-container:hover {
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 15px -5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  /* resetting default value */
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.btn button {
  padding: 0.5rem;
  background-color: #446084;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  border-radius: 99px;
}

.btn button:hover {
  background: #374e6b;
  /* transform: scale(1.1); */
}

a {
  color: white;
  text-decoration: none;
  width: 10px;
  height: 10px;
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card-body {
  color: black;
}
